# =========================
# Java
# =========================
classes/
*.class

# =========================
# Netbeans
# =========================
build/
nbproject/

# =========================
# Eclipse
# =========================
.settings/
bin/
*.classpath
*.project